<!-- create-mission.html -->
{% extends 'base.html' %}

{% block title %}미션 생성 - {{ group.name }}{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="text-center mb-5">
        <h1 class="fw-bolder">미션 생성 - {{ group.name }}</h1>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success w-100">미션 생성하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
